<!DOCTYPE html>
<html>
<head>

    <style>
     .button {
         background-color: #4CAF50; /* Green */
         border: none;
         color: white;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 16px;
         margin: 4px 2px;
         cursor: pointer;
         padding: 10px 50px;
         align : center;
     }
     .loading{
         display : none;
     }
     .pay{
         display:none;
     }
     .input{
        align : center
     }
     .button1 {
         padding : 30x 120x
     }
</style>
<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="/socket.io-client/dist/socket.io.js"></script>
<link rel="stylesheet" href="static.css">
<script>
    var socket = io.connect();
    $(window).load(function (e) {
        e.preventDefault();
            $('#loading').hide();
            socket.emit("emitUser",{userid:"<= user._id %>"});
            socket.on("emitUser ack",function(){
              socket.emit("getRating",{userid:"<%= user._id %>"})
              socket.on("getRating ack",function(data) {
                  $("#rating").html(data.rating)
              })
            socket.emit("getPayment");
            socket.on("getPayment ack",function (data) {
                for(var i = 0 ; i < data.length ; i++){
                $("#payment").append(
                    "<button class = \"button\" value ="+data[i]+" onclick=\"paymethod(this)\">"+ data[i] +"</button>"
                )}
            })
        })
    })
    function paymethod(data) {
        console.log(data.value)
        if(data.value == 'UPI'){
            $("#UPI").show();
            $("#payment").hide();
        }
        if(data.value == 'Aadhar')
            $("#Aadhar").show();
        if(data.value == 'Bhamashah') {
            $("#loading").show();
            setInterval(4000)
            $("#loading").hide();
            $("#bhamashah").show();
        }
        if(data.value == "RupayCard")
            $("#loader").show()
            $("#RupayCard").show();
        }
    function addMoney(){
        $("#blurOver").html("Request successfully sent!!!Waiting for the respond!!<br>Procedure:-<br>1.Go to your mobile and call *99#.<br>2.You will get your pending request.<br>3.Accept the current request by following the instructions")
        setTimeout(function(){
            var json = {}
            socket.emit("addMoney",{"service":"<%= service %>","subService":"<%= subService %>","amount":"<%= amount %>","serviceCharge":"<%= serviceCharge %>","aadhaar":"<%= aadhaar %>"})
        },5000)
        $("#waiting").show()
    }

    

</script>
</head>
<body>
<div id="loading">
    <img id="loading-image" src="gif/bolt.gif" alt="Loading..." />
</div>

<div id="waiting">
    <h1 style="margin-top:50px;position:relative;top:400px;" id="blurOver"></h1>
    <img id="loading-image" src="gif/check.gif" alt="Loading..." />
</div>

<div id = "payment" align = "center">
</div>

<div id="UPI" class = "pay">
    <br>
    <br>
    <p align="center">Enter your UPI Address:<p>
    <center><input type = "text" name = "upi" placeholder = "UPI Address">
    <input type="button" value="submit" onclick="addMoney()"> 
    </center>
    <br>

</div>
<div id="Aadhar" class = "pay">
    <p align = "center">Enter the Aadhar Number:</p>
    <input type = "text" name = "aadhar" placeholder = "Aadhar Details">
    <button > Validate </button>
</div>
<div id="bhamashah" class="pay">
    Detecting the device
</div>
<div id = "rupayCard" class="pay"></div>
<center><div id="detail"></div></center>


</body>
</html>