<!DOCTYPE html>
<head>
<title>Feedback</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/socket.io-client/dist/socket.io.js"></script>
    <script>
        var socket1 = {}
        var socket = io.connect();
        $(window).load(function(e){
            $("#loading").hide()
            e.preventDefault();
            socket.emit("emitUser",{userid:"<%= user._id %>"})
            socket.on("emitUser ack",function(){
                socket.emit("getRating",{userid:"<%= user._id %>"})
                socket.on("getRating ack",function(data){
                    $("#rating").html(data.rating)
                });
                socket1 = {};
          //      socket.userid = "<%=user._id%>";
            //    socket.tid = $("#tid").val();
              //  console.log(socket);
               // socket.emit("storeFeedback",{userid:"<%= user._id%>"}{

                })
            })
    function feedbackstore(data) {
        socket1.userid = "<%=user.id%>";
        socket1.tid = $("#tid").val();
        socket1.rating = $("#Rating").val();
        socket1.feedback = $("#feedback").val();
        console.log(socket1.feedback);
        socket.emit("storeFeedback",socket1)
    }
    </script>

<style type="text/css">
div.stars {
  width: 270px;
  display: inline-block;
}
input.star { display: none; }
label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
input.star-1:checked ~ label.star:before { color: #F62; }
label.star:hover { transform: rotate(-15deg) scale(1.3); }
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
 </style>
 <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.6.6, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="stylesheet" href="static.css">
  <link rel="shortcut icon" href="assets/images/logo4.png" type="image/x-icon">
  <meta name="description" content="Website Builder Description">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  

</head>
<body>
	 <section class="mbr-section info3 cid-qMsVwoVckA" id="info3-3j">
 <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(35, 35, 35);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10">
                <h2 class="align-left mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    <%= user.username %></h2>
                
                
                <div class="mbr-section-btn align-left py-4"><a class="btn btn-black display-4"><span class="mbrib-star mbr-iconfont mbr-iconfont-btn"></span><span id="rating">Unrated</span></a>
                    <a class="btn btn-secondary display-4" href="/logout"><span class="mbrib-logout mbr-iconfont mbr-iconfont-btn"></span>Logout</a></div>
            </div>
        </div>
    </div>
</section>

<br>
<br>
     <form id="star">
<center><h3>Provide rating to the user</h3>
  <input type="text" name="transactionId" placeholder="Enter transaction Id" id = "tid"><br>
  <div class="stars">

<select id="Rating">
    <option value = "1" > 1 Star</option>
    <option value = "2" > 2 Star</option>
    <option value = "3" > 3 Star</option>
    <option value = "4" > 4 Star</option>
    <option value = "5" > 5 Star</option>
</select>
<textarea name="myTextBox" cols="50" rows="5" placeholder="Others please specify..." id="feedback"></textarea>
<br />
<input type="button" value ="Submit" onclick="feedbackstore(this)"/>
</form>
</center>


<script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>

</body>
</html>
